{% extends "base.html" %}

{% block content %}
	{% load staticfiles %}
	{% if cart_elements %}
		<div class="panel panel-default cart">
			<div class="panel-body">
				{% for cart_element in cart_elements %}
				    <div class="media thumbnail">
				    	<div class="media-left media-middle">
								{% with cart_element.product.photo_set.all|first as image %}
								  <img class="img-circle media-object" src="{% static image.img %}" width="100px"/>
								{% endwith %} 
				    	</div>
				    	<div class="media-body">	
				        <h3>
				        	{{ cart_element.product.name }} -
				        	<small>{{ cart_element.product.brand }}</small>
				        </h3>
				        <span>
				        	Стоимость: 
				        	<strong>{{ cart_element.product.price }}</strong>
				        	<span class="glyphicon glyphicon-rub" aria-hidden="true">	</span>
				        </span>
				        <span>Размер: {{ cart_element.size }}</span>
				       </div> 
				    </div>
				{% endfor %}
			</div>
			<div class="panel-footer">
				<h4 class="total">
					Итого: 
					<strong>{{ total }}</strong>
					<span class="glyphicon glyphicon-rub" aria-hidden="true"></span>
				</h4>
				<a class="btn btn-primary" href="{% url 'checkout' %}">Оформить заказ</a>
			</div>
	 	</div>
	{% else %}
		<p>Корзина пуста</p>
	{% endif %}
{% endblock %}