{% extends "base.html" %}

{% block content %}
	{% load staticfiles %}

  <div class="jumbotron">
    <h1>Продажа обуви в Крыму</h1>
    <p>Работаем без предоплат</p>
    <p>Доставка от 1 часа до 2 дней</p>
    <p>Оплата заказа только после личной проверки товара</p>
  </div>
	{% for product in product_list %}
		{% if product.available == True %}

	    	<div class="row">
          <div class="col-xs-6 col-lg-4">
            <h2>{{ product.name }}</h2>
            {% with product.photo_set.all|first as image %}
						  <img class="img-circle" src="{% static image.img %}" width="100px"/>
						{% endwith %} 
            <p>Тестовое место для текста</p>
            <p><a class="btn btn-default" href="{% url 'product' product.slug %}" role="button">Подробнее &raquo;</a></p>
          </div><!--/.col-xs-6.col-lg-4-->
        </div><!--/row-->
	  {% endif %}
	{% endfor %} 
{% endblock %}