{% extends "base.html" %}

{% block content %}
	{% load staticfiles %}

  <div class="jumbotron">
    <h1>Продажа обуви в Крыму</h1>
    <p>Работаем без предоплат</p>
    <p>Доставка от 1 часа до 2 дней</p>
    <p>Оплата заказа только после личной проверки товара</p>
  </div>
	{% for product in product_list %}
		{% if product.available == True %}

	    	<div class="row">
          <div class="col-xs-6 col-lg-4">
            <div class="thumbnail">
              {% with product.photo_set.all|first as image %}
  						  <img class="img-rounded" src="{% static image.img %}">
  						{% endwith %} 
              <div class="caption">
                <h2>{{ product.name }}</h2>
                <p>Тестовое место для текста</p>
                <a class="btn btn-primary" href="{% url 'product' product.slug %}">
                    <span class="badge">
                      {{ product.price }}
                      <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </span> Подробнее &raquo;
                </a>
              </div>
            </div>  
          </div><!--/.col-xs-6.col-lg-4-->
        </div><!--/row-->
	  {% endif %}
	{% endfor %} 
{% endblock %}