{% extends "base.html" %}

{% block content %}
	{% load staticfiles %}

	<form action="/order_status/" method="post">
		{% csrf_token %}
		<fieldset>
			<legend>Проверить статус заказа</legend>
			<label for="order_id">Номер заказа: </label>
			<input type="text" name="order_id"><br>
			
			<div class="input-group">
				<label for="phone">Номер телефона: </label>
				<span class="input-group-addon">+</span>
				<input type="tel" class="form-control" name="phone" pattern="[0-9]{11}"><br>
			</div>
			
			<input type="submit" value="Готово">
			
		</fieldset>
	</form>

{% endblock %}