{% extends "base.html" %}

{% block content %}
	{% load staticfiles %}

  <ol class="breadcrumb">
    <li><a href="{% url 'index' %}">Главная</a></li>
    <li><a href="{% url 'product_list' breadcrumb_brand %}">{{ breadcrumb_brand|title }}</a></li>
    <li class="active">{{ breadcrumb_slug }}</li>
  </ol>

  <div>
    <h1>{{ product.name }}</h1>
    <h3>
      Цена: 
      <span class="label label-success">
        {{ product.price }}
        <span class="glyphicon glyphicon-rub" aria-hidden="true"></span>
      </span>
    </h3>
  </div>  
  <div class="row">
    {% for photo in photos %}
      <div class="col-xs-6 col-md-3" data-slider="img">
        <div class="thumbnail">
            <img src='{% static photo.img.url %}' height="140">
        </div>
      </div>
    {% endfor %}
  </div>
  <!-- <img  class="img-circle" src="{{ p.product_image.url }}" width="100"> -->
  <!-- <a href="{% url 'add_product_to_cart' product.id %}">Купить</a> -->
  <form action="/add/" method="post">
    Имеющиеся размеры: 
  	{% for size in sizes %}
  		{% if size.available == True %}
        <label data-shop="size" class="radio-inline">
          <input type="radio" name="size" id="soze" value="{{ size }}"> {{ size }}
        </label>
  		{% endif %}
  	{% endfor %}

    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <h6>
      <button type="submit" class="btn btn-primary">Купить</button>
    </h6>
	</form>

{% endblock %}