{% extends "base.html" %}

{% block content %}
	{% load staticfiles %}
  {% for photo in photos %}
    <img class="img-circle" src='{% static photo.img.url %}' width="100">
  {% endfor %}
  <!-- <img  class="img-circle" src="{{ p.product_image.url }}" width="100"> -->
  <div>{{ product.name }}</div>
  <div class="price">{{ product.price }}</div>
  <!-- <a href="{% url 'add_product_to_cart' product.id %}">Купить</a> -->
  Имеющиеся размеры: 
  <form action="/add/" method="post">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}">
  	{% for size in sizes %}
  		{% if size.available == True %}
  			<input type="radio" name="size" value="{{ size }}"> {{ size }}
  		{% endif %}
  	{% endfor %}
  	<input type="submit" value="Купить">
	</form>

{% endblock %}